//
//
//  Logos Container
//  ====================
//
.brands {
    .js & {
        border-top: 1px solid #eee;
        overflow: hidden;  
    }
}

.brand {

    .js & {
        position: relative;
        box-sizing: border-box;
        width: 25%;
        height: 300px;
        border-bottom: 1px solid #eee;
        border-right: 1px solid #eee;
        float: left;
        overflow: hidden;

        @include respond-to(mobile) {
            width: 100%;
        }
        @include respond-to(tablet) {
            width: 33.3333333%
        }
        @include respond-to(widescreen) {
            width: 20%;
        }

        &:hover {
            cursor: pointer;
        }
    }

    .no-js & {
        border-bottom: 1px solid #eee;
    }
}

.brand-name {
    .js & {
        position: absolute;
        width: 100%;
        bottom: -100%;
        right: .5em;
        font-size: 1em;
        color: black; 
        text-align: right;
        -webkit-transition: .2s ease all;
        color: #999;  
        z-index: 10; 
    }

    .no-js & {
        margin: 0 auto;
        max-width: #{$max-width};

        a {
            padding: 1em 0;
            display: block;
            position: relative;

            @media screen and (max-width: $max-width) {
                padding: 1em;
            }

            &:after {
                content: '\00BB';
                position: absolute;
                right: 1em;
            }
        }
    }
}

.logo {
    .js & {
        width: 300px;
        height: 300px;
        position: absolute;
        margin-left: -150px;
        left: 50%;
        transition: .15s ease filter;
        -webkit-transition: .15s ease -webkit-filter;
        -moz-transition: .15s ease -moz-filter;
        -o-transition: .15s ease -o-filter;
        -ms-transition: .15s ease -ms-filter;
    }

    .reveal & {
        filter: none !important; 
        -webkit-filter: none !important; 
        -moz-filter: none !important;
        -o-filter: none !important; 
        -ms-filter: none !important;
        filter: none !important;
    }
}



.brands--blur50 .logo--blur50 {opacity: 1}
.brands--blur40 .logo--blur40 {opacity: 1}
.brands--blur30 .logo--blur30 {opacity: 1}
.brands--blur20 .logo--blur20 {opacity: 1}
.brands--blur10 .logo--blur10 {opacity: 1}
.brands--blur0 .logo--blur0 {opacity: 1}


.brand.reveal{

    // Show the Brand name
    h2 {
        bottom: .5em;
    }
}

// List these alphabetically
$logos: 
    abc
    apple
    cbs
    chase
    cnn
    coke
    dropbox
    espn
    general-electric
    girl-scouts
    google
    honda
    hyundai
    ibm
    intel
    john-deere
    jumpman
    mazda
    mcdonalds
    mercedes
    mtv
    nbc
    nike
    pbs
    pepsi
    shell
    starbucks
    taco-bell
    target
    toyota
    twitter
    univision
    ups
    visa
    volkswagen   
;

// Background Y position for each specific logo
@for $i from 1 through length($logos) {
    $logo: nth($logos, $i);
    
    // ##{$logo} {
    //     .logo {background-position-y: -#{ $i * 300 - 300 }px }
    // }
}

// Each logo as a background image
@each $logo in $logos {
    ##{$logo} {
        .logo {background-image: image-url('#{$svg-directory}/logos_#{$logo}.svg') }
    }
}

// Blurs for controls
$logo-blurs: 0 5 10 15 20 25;
$filter-point-value: 0;

@each $logo-blur in $logo-blurs {
    
    .container[data-active-blur-value="#{$logo-blur}"] {
        
        .logo {
            @include filter($logo-blur);
        }

        .filter-point[data-blur-value="#{$logo-blur}"] {
            background-image: image-url('#{$svg-directory}/filter-point-active.svg');
        }
    }

    .filter-point[data-blur-value="#{$logo-blur}"] {
        @include filter($filter-point-value);
    }

    $filter-point-value: $filter-point-value + 1;

}