//
//
//  Logos Container
//  ====================
//
.brands {
    .js & {
        position: relative;
        overflow: hidden;
        

        //@include clearfix();

        &:after {
            -webkit-transition: .22s ease -webkit-transform;
            -moz-transition: .22s ease -moz-transform;
            -ms-transition: .22s ease -ms-transform;
            -o-transition: .22s ease -o-transform;
            transition: .22s ease transform;

            content: 'Sharpening...';
            position: absolute;
            line-height: 100px;
            height: 100px;
            top: -100px;
            text-align: center;
            width: 200px;
            margin-left: -100px;
            left: 50%;
            background: #000 image-url('sharpening.gif') no-repeat 50% 14px;
            padding-top: 14px;
            z-index: 1000;
            color: white;
            border-radius: 0 0 2px 2px;
        }

        &.shuffling {
            

            &:after {
                @include translateY(100px);
                //background: image-url('shuffling.gif') no-repeat 50% 0;
                //padding: 2em 0;
            }
        }
    }
}

.brand {

    .js & {
        position: relative;
        box-sizing: border-box;
        width: 25%;
        height: 300px;
        border-bottom: 1px solid #eee;
        border-right: 1px solid #eee;
        float: left;
        overflow: hidden;

        @include respond-to(mobile) {
            width: 100%;
        }
        @include respond-to(tablet) {
            width: 33.3333333%
        }
        @include respond-to(widescreen) {
            width: 20%;
        }

        &:hover {
            cursor: pointer;
        }

        &.incorrect,
        &.correct {
            &:hover {
                cursor: default;
            }
        }
    }

    .no-js & {
        border-bottom: 1px solid #eee;
    }
}

.brand-name {
    .js & {
        position: absolute;
        right: .5em;
        top: 1em;
        left: .5em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
        font-weight: bold;
        z-index: 10; 
        @include opacity(0);
        visibility: hidden;

        @include translateY(-3em);
        @include transition(.33s ease all);

        a {
            color: inherit;
        }
    }

    [data-answered="true"].correct &,
    [data-active-blur-value="0"] [data-answered="true"] & {
        @include opacity(1);
        visibility: visible;
        @include translateY(0);
    }

    .no-js & {
        margin: 0 auto;
        max-width: #{$max-width};

        a {
            padding: 1em 0;
            display: block;
            position: relative;

            @media screen and (max-width: $max-width) {
                padding: 1em;
            }

            &:after {
                content: '\00BB';
                position: absolute;
                right: 1em;
            }
        }
    }
}

.logo {
    .js & {
        width: 300px;
        height: 300px;
        position: absolute;
        margin-left: -150px;
        left: 50%;
        // transition: .15s ease filter;
        // -webkit-transition: .15s ease -webkit-filter;
        // -moz-transition: .15s ease -moz-filter;
        // -o-transition: .15s ease -o-filter;
        // -ms-transition: .15s ease -ms-filter;
    }

    [data-answered="true"].correct &,
    [data-active-blur-value="0"] [data-answered="true"] & {
        filter: none !important; 
        -webkit-filter: none !important; 
        -moz-filter: none !important;
        -o-filter: none !important; 
        -ms-filter: none !important;
        filter: none !important;
    }

    [data-answered="true"].incorrect & {
        background-color: $color-incorrect-light;
    }
}


// List these alphabetically
$logos: 
    abc
    addidas
    apple
    cbs
    chase
    cnn
    dropbox
    general-electric
    girl-scouts
    honda
    hyundai
    jaguar
    john-deere
    jumpman
    kfc
    lacoste
    lg
    mazda
    mcdonalds
    mercedes
    mitsubishi
    mtv
    nbc
    nike
    pbs
    pepsi
    puma
    quicksilver
    rolex
    shell
    starbucks
    taco-bell
    target
    texaco
    toyota
    twitter
    univision
    ups
    volkswagen   
;

// Background Y position for each specific logo
@for $i from 1 through length($logos) {
    $logo: nth($logos, $i);
    
    // ##{$logo} {
    //     .logo {background-position-y: -#{ $i * 300 - 300 }px }
    // }
}

// Each logo as a background image
.svgfilters {
    @each $logo in $logos {
        ##{$logo} {
            .logo {background-image: image-url('#{$svg-directory}/#{$logo}.svg') }
        }
    }
}

// Blurs for controls
$logo-blurs: 0 5 10 15 20;
$filter-point-value: 0;

@each $logo-blur in $logo-blurs {
    
    .container[data-active-blur-value="#{$logo-blur}"] {
        
        .logo {
            @include filter($logo-blur);
        }

        .filter-point[data-blur-value="#{$logo-blur}"] {
            background-image: image-url('filter-point-active.svg');
        }
    }

    .filter-point[data-blur-value="#{$logo-blur}"] {
        @include filter($filter-point-value);
    }

    $filter-point-value: $filter-point-value + 1;
}