//
//
//  Share Modal 
//  ==============================
//

//
//  With Transitions
//  ----- 
.csstransforms3d {

    // Normal hidden state
    .share-modal {
        @include transition(transform .5s ease);
        @include translateY(-100%);
        
        .wrapper {
            @include transition(transform .5s ease .5s);
            @include scale(0);
        }
    }

    // Transition to show
    .share-modal-enabled {
        overflow: hidden;

        .share-modal {
            @include translateY(0%);

            .wrapper {
                @include scale(1);
            }
        }
    }
}

//
//  Without Transitions
//  ----- 
.no-csstransforms3d {
    // Normal hidden state
    .share-modal {
        display: none;
    }

    // Transition to show
    .share-modal-enabled {
        overflow: hidden;

        .share-modal {
            display: block;
        }
    }  
}

//
//  Share Modal Styling
//  -----
.share-modal {
    color: white;
    text-align: center;
    z-index: 10001;
    position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%; 
        background: $color-highlight;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    
    

    .wrapper {
        max-width: 600px;
        margin: 0 auto;
        

        @media screen and (min-width: #{800 / $font-size-base}em) {
            padding: 3em 0;
        }
    }

    .final-score {
        font-size: #{36 / $font-size-base}em;
        font-weight: 300;
        line-height: 1;
        margin-top: 1em;
    }
    .final-score-points {
        font-size: #{150 / $font-size-base}em;
        font-weight: 300;
        line-height: 1;
    }
    .final-score-share {
        margin: #{60 / $font-size-base}em 0;
        
        li {
            width: 33%;
            float: left;
            
            a {
                line-height: 1;
            }

            a:before {
                display: block;
                font-size: 3em;
                margin-bottom: .125em;
                @include transition(.3s ease all);
            }
            
            // hover effects
            &:hover {
                a:before {
                    @include rotate(-8deg);
                }
            }
            &:first-child:hover {
                a:before {
                    @include rotate(8deg);
                }
            }
            &:last-child:hover {
                a:before {
                    @include rotate(16deg);
                }
            }
        }

    }
    a {
        color: white;
    }
    .made-by {
        @include opacity(.5);
        margin-bottom: 2em;

        a:hover {
            text-decoration: underline;
        }
    }
}