.congrats {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    background: $color-highlight;
    color: white;
    text-align: center;
    @include translateX(100%);
    @include transition(.75s ease all);

    .wrapper {
        max-width: 600px;
        margin: 0 auto;
        padding: 1.5em;
    }

    .final-score {
        font-size: #{36 / $font-size-base}em;
        font-weight: 300;
        line-height: 1;
        margin-top: 1em;
    }
    .final-score-points {
        font-size: #{150 / $font-size-base}em;
        font-weight: 300;
        line-height: 1;
    }
    .final-score-share {
        margin-top: #{80 / $font-size-base}em;
        
        li {
            width: 33%;
            float: left;

            a:before {
                display: block;
                font-size: 3em;
            }
        }

    }
    a {
        color: white;
    }
}

.header,
.footer,
.navigation,
.container {
    @include transition(.75s ease all);
}

.end {
    overflow: hidden;

    .header,
    .footer,
    .navigation,
    .container {
        @include translateX(-100%);
    }
    .congrats {
        @include translateX(0);
    }
}