.form {
    
    
    // @include opacity(0);
    // visibility: hidden;

    label {
        position: absolute;
        left: 0;
        bottom: 40px;
        display: block;        
        color: #bbb;
        width: 100%;
        text-indent: 10px;
        font-size: #{11 / $font-size-base}em;
        @include opacity(0);
        @include translateY(1em);
        @include transition(.33s ease all);
    }

    input, button {
        position: absolute;
        bottom: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        -webkit-appearance: none;
    }

    input {
        left: 0;
        display: block;
        width: 100%;
        border: 0;
        border-radius: 0;
        border-top: 1px solid #fff;
        color: #bbb;
        font-size: 1em;
        height: 40px;
        width: 75%;
        text-indent: 10px;
        @include transition(.33s ease opacity);

        &:focus {
            color: #000;
            outline: none;
            background-color: lightyellow;
            border-top-color: $color-background-light;

            + label,
            + label + button {
                @include opacity(1);
                visibility: visible;
            }
            + label {
                 @include translateY(0);
            }
        }

        &:disabled {
            background: #fff;
            text-shadow: none;
            box-shadow: none;
        }
    }

    button {
        right: 0;
        border: 0;
        background: $color-highlight;
        color: white;
        width: 25%;
        text-align: center;
        height: 40px;
        line-height: 40px;
        font-size: #{13 / $font-size-base}em;
        //@include transition(.33s ease opacity);

        @include opacity(0);
        visibility: hidden;

        &:hover {
            cursor: pointer;
        }
    }

    .close {
        position: absolute;
        top: .25em;
        right: .25em;
    }

    [data-answered="true"] & {
        input {
            border-top-color: $color-background-light;
        }
        button {
            @include opacity(1);
            visibility: visible;
        }

    }

    // .reveal & {
    //     @include opacity(1);
    //     visibility: visible;  
    // }

    .correct & {
        input {
            color: $color-correct;
            -webkit-text-fill-color: $color-correct;
        }
        button {
            background: $color-correct;
        }
    }
    .incorrect & {
        input {
            color: $color-incorrect;
            -webkit-text-fill-color: $color-incorrect;
            text-decoration: line-through;
        }
        button {
            background: $color-incorrect;
        }
    }
    .correct &,
    .incorrect & {
        label {
            @include opacity(0);
            visibility: hidden;
        }
        input, button {
            &:hover {
                cursor: default;
            }
        }
    }

    //overrides
    input[disabled="disabled"] {
        @include opacity(1);
    }
}