*, *:before, *:after {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}
body {
    font-size: #{16 / $font-size-base}em;
    line-height: 1.5;
    font-family: 'Roboto', Helvetica, Arial;
    color: #222;
    position: relative;
    overflow-x: hidden;
}
section {
    width: 100%;
    margin: 0 auto;
}
@media screen and (max-width: 400px) {
    .logos li { width: 100% !important}
}

a {
    color: $color-highlight;
    text-decoration: none;

    &:hover {
        color: darken($color-highlight, 10)
    }
}

em {
    font-style: italic;
}

.clearfix {
    @include clearfix();
}