//
//
//  Header
//  ------------------------------
//
.header {
    padding: 4em 4%;
    background: $color-background-light;

    h1 {
        font-size: #{24 / $font-size-base}em;
        margin: 0 auto;
        max-width: 500px;
        margin-bottom: #{10 / $font-size-base}em;
    } 

    // hanging punctuation
    span {
        position: absolute;
        right: 100%;
    }

    a {
        text-decoration: underline;
        color: inherit;
    }

    p {
        position: relative;
        font-size: #{14 / $font-size-base}em;
        max-width: 500px;
        margin: 0 auto;
        color: #777;
        margin-bottom: #{20 / $font-size-base}em;
    }
}