//
//
//  Header
//  ------------------------------
//
.header {
    padding: 7em 4% 2em;
    background: #000;

    // No navigation when no js
    .no-js & {
        padding-top: 3em;
    }

    // Header sticks on mobile, so allow more space up top
    @include respond-to(mobile) {
        padding-top: 5em;
    }

    h1 {
        font-size: #{32 / $font-size-base}em;
        max-width: $max-width;
        margin-bottom: #{10 / $font-size-base}em;
        color: white;
        font-weight: bold;
    } 

    blockquote p {
        font-size: #{21 / $font-size-base}em;
        color: white;
    }

    // hanging punctuation
    span {
        position: absolute;
        right: 100%;
    }

    a {
        text-decoration: underline;
        //color: inherit;
    }

    p {
        position: relative;
        max-width: 36em;
        color: #ccc;
        margin-bottom: #{20 / $font-size-base}em;
    }
}