//
//
//  Navigation
//  ===================
//
.navigation {
    //width: 320px;
    position: fixed;
    top: 2em;
    left: 4%;
    color: white;
    //background: #222;
    height: $navigation-height;
    z-index: 10000;
    width: 320px;
    @include box-shadow(0 0 0 3px rgba(255,255,255,.125));
    border-radius: 1px;

    @include respond-to(mobile) {
        width: 100%;
        top: 0;
        left: 0;
        @include box-shadow(none);
        border-radius: 0;
    }

    .sharpen,
    .points {
        text-align: center;
        position: absolute;
        top: 0;
    }

    .sharpen {
        text-align: center;
        line-height: $navigation-height;
        background-color: $color-highlight;
        border-radius: 0 2px 2px 0;
        
        @include respond-to(mobile) {
            border-radius: 0;
        }
        
        left: 30%;
        width: 70%;


        a {
            color: white;
            display: block;
            padding: 0 2em;
            @include transition(.33s ease background-color);

            &:hover {
                background-color: darken($color-highlight, 5%);
            }
        }
    }

    .points {

        float: left;
        text-align: center;
        background: $color-correct;
        font-size: #{34 / $font-size-base}em;
        color: white;
        line-height: $navigation-height;
        @include text-shadow(0 0 8px rgba(255,255,255,.5));
        @include transition(.33s ease width);
        border-radius: 2px 0 0 2px;
        
        @include respond-to(mobile) {
            border-radius: 0;
        }

        left: 0;
        width: 30%;
        
        &.points-increase {
            width: 100%;
        }
    }
}
