$font-size-base: 16;
$color-highlight: #29abe2;
$color-background-light: #eee;
$color-correct: #0b9744;
$color-incorrect: darkred;

$navigation-height: 50px;

$max-width: 500px;

$svg-directory: logos/svgs;

@mixin respond-to($media) {
    @if $media == mobile {
        @media only screen and (max-width: 600px) { @content; }
    }
    @else if $media == tablet {
        @media only screen and (min-width: 601px) and (max-width: 900px) { @content; }
    }
    @else if $media == widescreen {
        @media only screen and (min-width: 1200px) { @content; }
    }
}

@mixin filter($value) {
    // Don't put filter: blur(0), as it's not as sharp as filter: none
    @if ($value == 0) {
        filter:         none; 
        -webkit-filter: none; 
        -moz-filter:    none;
        -o-filter:      none; 
        -ms-filter:     none;
    } 
    @else {
        filter:         blur(#{$value}px); 
        -webkit-filter: blur(#{$value}px); 
        -moz-filter:    blur(#{$value}px);
        -o-filter:      blur(#{$value}px); 
        -ms-filter:     blur(#{$value}px);
        filter:         image-url('blur.svg#blur-#{$value}');
    }
}

@mixin clearfix() {
    &:before,
    &:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }

    &:after {
        clear: both;
    }
}