$font-size-base: 16;
$color-highlight: #29abe2;
$color-background-light: #eee;

$max-width: 500px;

$svg-directory: svgs;

@mixin respond-to($media) {
    @if $media == mobile {
        @media only screen and (max-width: 600px) { @content; }
    }
    @else if $media == tablet {
        @media only screen and (min-width: 601px) and (max-width: 900px) { @content; }
    }
    @else if $media == widescreen {
        @media only screen and (min-width: 1200px) { @content; }
    }
}

@mixin filter($value) {
    filter:         blur(#{$value}px); 
    -webkit-filter: blur(#{$value}px); 
    -moz-filter:    blur(#{$value}px);
    -o-filter:      blur(#{$value}px); 
    -ms-filter:     blur(#{$value}px);
    filter:         image-url('_svgs/blur#blur-#{$value}');
}