@import "compass/css3";

@import 'reset';
@import 'variables';
@import 'header';
@import 'footer';


*, *:before, *:after {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}
body {
    font-size: #{16 / $font-size-base}em;
    line-height: 1.5;
    font-family: Arial;
    color: #222;
}
section {
    width: 100%;
    margin: 0 auto;
}
@media screen and (max-width: 400px) {
    .logos li { width: 100% !important}
}

a {
    color: $color-highlight;
    text-decoration: none;

    &:hover {
        color: darken($color-highlight, 10)
    }
}

em {
    font-style: italic;
}

//
//
//  Filter
//  ==============================
//
.filter {
    background: #000;
    text-align: center;
    position: relative;
}

.filter-label {
    float: left;
    margin-right: 1em;
    padding: .5em 0;

    @media screen and (max-width: 900px) {
        float: none;
    }
}

.filter-control {
    background: $color-highlight;
    color: white;
    padding: .325em .5em;
    border-radius: 3px;

    &.sharpen {
        margin-right: 2em;
    }
    &.blur {
        margin-left: 2em;
    }
    &.disable {
        background: #666;

        &:hover {
            background: #666;
            cursor: not-allowed;
        }
    }

    &:hover {
        color: white;
        background: lighten($color-highlight, 7%);
    }
}

.shuffle {
    text-indent: -9999px;
    background-image: image-url("shuffle@2x.png");
    width: 21px;
    height: 17px;
    background-size: 100%;
    position: absolute;
    right: 1.5em;
    top: 50%;
    margin-top: -9px;

    &:hover {
        cursor: pointer;
    }

    @media screen and (max-width: 700px) {
        display: none;
    }
}

.filter-scale {
    overflow: hidden;
    @include inline-block();
    border-left: 1px solid #444;

    li {
        float: left;
        border-right: 1px solid #444;

        &:first-child {
            border-left: 0;
        }

        &:hover a {
            background: #444;
        }

        @media screen and (max-width: 900px) {
            width: 16.666666667%;
            margin: 0;
            border-left: 1px solid #ddd;
            border-top: 1px solid #ddd;
            background: #f7f7f7;
            border-radius: 0;
            text-align: center;

            &:first-child {
                border-left: 0;
            }
        }
        
        a {
            padding: .75em 1.25em;
            display: block;
            color: white;

            &.active {
                background-color: white;
                color: #000;
                font-weight: bold;
            }
        }
    }
}



//
//
//  Logos Container
//  ====================
//
.logos {
    border-top: 1px solid #eee;
    overflow: hidden;
}

.logos > li {
    position: relative;
    box-sizing: border-box;
    width: 25%;
    //padding-bottom: 25%;
    height: 300px;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    float: left;
    overflow: hidden;

    @include respond-to(mobile) {
        width: 100%;
    }
    @include respond-to(tablet) {
        width: 33.3333333%
    }
    @include respond-to(widescreen) {
        width: 20%;
    }

    &:hover {
        cursor: pointer;
    }
}

.logos h2 {
    position: absolute;
    width: 100%;
    bottom: -100%;
    right: .5em;
    font-size: 1em;
    color: black; 
    text-align: right;
    -webkit-transition: .2s ease all;
    color: #999;  
    z-index: 10; 
}

.logo  {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    > li {
        width: 300px;
        height: 300px;
        margin-left: -150px;
        position: absolute;
        left: 50%;
        opacity: 0;
        background-size: 100%;

        background-repeat: no-repeat; 
        -webkit-transition: .5s ease all;  
    }             
}

.logos--blur50 .blur50 {opacity: 1}
.logos--blur40 .blur40 {opacity: 1}
.logos--blur30 .blur30 {opacity: 1}
.logos--blur20 .blur20 {opacity: 1}
.logos--blur10 .blur10 {opacity: 1}
.logos--blur0 .blur0 {opacity: 1}

.blur0 {background-image: image_url("0.png")}
.blur10 {background-image: image_url("10.jpg")}
.blur20 {background-image: image_url("20.jpg")}
.blur30 {background-image: image_url("30.jpg")}
.blur40 {background-image: image_url("40.jpg")}
.blur50 {background-image: image_url("50.jpg")}

//.blur0 {background-position-y: 0}

//.no-touch .logo:hover .blur0,
.logos .hover .blur0 {
    opacity: 1;
}

// List these alphabetically
$logos: 
    abc
    apple
    cbs
    cnn
    coke
    dropbox
    espn
    general-electric
    google
    honda
    hyundai
    ibm
    intel
    john-deere
    jumpman
    mazda
    mcdonalds
    mercedes
    mtv
    nike
    shell
    starbucks
    taco-bell
    target
    toyota
    twitter
    univision
    ups
    visa
    volkswagen   
;

@for $i from 1 through length($logos) {
    $logo: nth($logos, $i);
    
    .#{$logo} {
        .blur50,
        .blur40,
        .blur30,
        .blur20,
        .blur10,
        .blur0 {background-position-y: -#{ $i * 300 - 300 }px }
    }
}

// Logo Name
//.no-touch .logos li:hover h2,
.logos li.hover h2 {
    bottom: .5em;
}