//
//
//  Logo Background Images
//  ==============================
//  Each brand's SVG is loaded
//  For browsers that support SVG Filters, give .logo an .svg background
//  Otherwise, give them the .jpg fallback
//

// The 5 different gaussian blur values we use
$blurs: 0 5 10 15 20;


//
//  SVG Filters Supported
//  -----
.svgfilters {
    .logo {

    }
}

//
//  SVG Filters NOT Supported
//  -----
//  We have to specifically include IE10 here, as it doesn't allow you to
//  use SVG filter effects on HTML elements. So it falls back to images.
.no-svgfilters {

    @each $logo in $logos {
        ##{$logo} {
            .logo {
                background-image: image-url('logos/jpgs/#{$logo}.jpg');
                background-repeat: none;
            }
        }
    }

    // Each logo's blur varations are spaced at 300 pixel height
    // so 60 is our multiplier for the correct background position
    @each $blur in $blurs {
        .container[data-active-blur-value="#{$blur}"] {
            .logo {
                background-position-y: -#{ $blur * 60 }px;
            }
        }
    }
}